body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

header, footer{
background:#333;
color:white;
text-align:center;
padding:15px;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
}

main{
padding:20px;
}

.img-principal{
max-width:100%;
display:block;
margin:20px auto;
border-radius:10px;
}